template(name="aCases")
    .ui.pointing.menu
        a.active.item
            | Description
        a.item
            | Tasks
        a.item
            | Notes
        a.item
            | Documents
        .right.menu
            .item
                .ui.transparent.icon.input
                    input(type='text', placeholder='Search...')
                    i.search.link.icon
    .ui.segment(style="min-height:300px")
        h3  Cases/Tasks/Notes/Messages Details Panel
        p Test Description