template(name='description')
    //if cases then display cases template
    +aCases
template(name='actionBar')
    h3  Action Bar for Cases/Tasks/Notes/Messages Details
    h3  Information
    p   Date Created
    p   Created By
    p   Last Updated
    p   Next Update Due
    p   Owned By
    p   Assignees
    p   Shared to
    p   Contacts Lists
    p   Related Notes
    p   Tags
