template(name='CPanel')
    div($b('if: aCases'))
        +AllCasesList
    div($b('if: aTasks'))
        +AllTasksList
    div($b('if: aNotes'))
        +AllNotesList
    div($b('if: aMsgs'))
        +AllMsgs
    div($b('if: aContacts'))
        +AllContacts