template(name='defaultHeader')
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(http-equiv='content-type', content='text/html; charset=utf-8')
        meta(name='af -Case Manager', content='Case Manager')
        title Dashboard Scrum Ops
    .uk-width-1-1
        // Nav Bar Top Sticky
        div(style='border:1;width: 100%; height:70px; background-color: white; padding-top: 20px;', data-uk-sticky='')
            nav.uk-navbar(style='margin-left:5%; margin-right:5% ')
                .uk-navbar
                    div(style="margin: 15px 0 0 15px")
                        a.uk-hidden-small(href='/') Case Manager
                .uk-navbar-flip
                    ul.uk-navbar-nav
                        li.uk-parent.uk-active(data-uk-dropdown='', aria-haspopup='true', aria-expanded='false')
                            a(href='/') Home
                        li.uk-parent(data-uk-dropdown='', aria-haspopup='true', aria-expanded='false')
                            a(href='/aCases') Cases
                            .uk-dropdown.uk-dropdown-navbar.uk-dropdown-bottom(style='top: 40px; left: 0px;')
                                ul.uk-nav.uk-nav-navbar
                                    li
                                        a(href='/oCases') Open Cases
                                    li
                                        a(href='/cCases') Closed Cases
                                    li
                                        a(href='/aCases') All Cases
                                    li
                                        a(href='/caCase') Creat a Case
                        li.uk-parent(data-uk-dropdown='', aria-haspopup='true', aria-expanded='false')
                            a(href='/oTasks') Tasks
                            .uk-dropdown.uk-dropdown-navbar.uk-dropdown-bottom(style='top: 40px; left: 0px;')
                                ul.uk-nav.uk-nav-navbar
                                    li
                                        a(href='/oTasks') Open Tasks
                                    li
                                        a(href='/aTasks') All Tasks
                                    li
                                        a(href='/caTask') Create a Task
                        li.uk-parent(data-uk-dropdown='', aria-haspopup='true', aria-expanded='false')
                            a(href='/newNotes') Notes
                            .uk-dropdown.uk-dropdown-navbar.uk-dropdown-bottom(style='top: 40px; left: 0px;')
                                ul.uk-nav.uk-nav-navbar
                                    li
                                        a(href='/newNotes') My Notes
                                    li
                                        a(href='/allNotes') All Notes
                                    li
                                        a(href='/caNote') Add a Note
                        li.uk-parent(data-uk-dropdown='', aria-haspopup='true', aria-expanded='false')
                            a(href='/newNotes') Contacts
                                .uk-dropdown.uk-dropdown-navbar.uk-dropdown-bottom(style='top: 40px; left: 0px;')
                                    ul.uk-nav.uk-nav-navbar
                                        li
                                            a(href='/myContacts') My Contacts
                                        li
                                            a(href='/allContacts') All Contacts
                                        li
                                            a(href='/caContact') Create a Contact
                        li.uk-parent(data-uk-dropdown='', aria-haspopup='true', aria-expanded='false')
                            a(href='/caCase') Create
                            .uk-dropdown.uk-dropdown-navbar.uk-dropdown-bottom(style='top: 40px; left: 0px;')
                                ul.uk-nav.uk-nav-navbar
                                    li
                                        a(href='/caCase')  Case
                                    li
                                        a(href='/caTask') Task
                                    li
                                        a(href='/caNote') Note
                                    li
                                        a(href='/caContact') Contact
                                    li
                                        a(href='/caContact') Send a Message
                        li.uk-parent(data-uk-dropdown='', aria-haspopup='true', aria-expanded='false')
                            a(href='/myProfile') Profile
                            .uk-dropdown.uk-dropdown-navbar.uk-dropdown-bottom(style='top: 40px; left: 0px;')
                                ul.uk-nav.uk-nav-navbar
                                    li
                                        a(href='/myProfile')  My Profile
                                    li
                                        a(href='/myMessages') Messages
                                    li
                                        a(href='/logout') Sign Out